# --extra-index-url https://download.pytorch.org/whl/cu130
# torch
# torchvision
pypose

evo
opencv-python-headless
matplotlib
tabulate
tqdm
rich
rerun-sdk
yacs
numpy
pyyaml
wandb
pillow
scipy
flow_vis
onnx
pyright
jaxtyping
typeguard==2.13.3
kornia
loguru
h5py
huggingface-hub
