services:
  l4t:
    build: 
      context: .
      dockerfile: Dockerfile
    
    image: yutianchen/macslam:nov2025-v2-l4t-thor
    container_name: dev-macslam
    hostname: mac-dev-container
    runtime: nvidia

    volumes:
      - "${PROJ_DIR:-/home/airlab/workspace}:/home/root/workspace:rw"
      - "${DATA_DIR:-/home/airlab/Data}:/Data:rw"
    
    devices:
      - "/dev/video0:/dev/video0"
      - "/dev/video1:/dev/video1"

    network_mode: "host"
    ipc: "host"
    shm_size: "1g"

    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - ROS_DOMAIN_ID=91
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
    
    command: bash
    tty: true
    stdin_open: true
    user: "root"
