evo
yacs
timm
wandb
pyyaml
pypose
kornia
loguru
pyright
pyarrow
flow_vis
beartype
omegaconf
jaxtyping
warp-lang
safetensors
huggingface-hub
pybind11-stubgen

# TensorRT acceleration & Quantization
onnxscript
onnxruntime
onnxconverter-common
onnx-graphsurgeon
onnxslim

# Build dependencies for xFormers
ninja
packaging
