services:
  dev:
    build: 
      context: .
      dockerfile: Dockerfile
      args:
        BASE_IMAGE: pytorch/pytorch:2.8.0-cuda12.8-cudnn9-devel
    
    image: yutianchen/macslam:nov2025-v1
    container_name: dev-macslam
    hostname: mac-dev-container
    gpus: all
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - CI=false
    volumes:
      - "${PROJ_DIR:-~/Documents/MAC-SLAM}:/home/devuser/workspace:rw"
      - "${DATA_DIR:-/media/yutianch/Data}:/Data:rw"
    ports:
      - "9876:9876"  # Rerun
      - "9877:9877"  # 
      - "9090:9090"  # 
    command: bash
    tty: true
    stdin_open: true
    user: "root"

  github-action:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        BASE_IMAGE: pytorch/pytorch:2.8.0-cuda12.8-cudnn9-runtime
    
    image: yutianchen/macslam:github-action
    container_name: github-action-macslam
    environment:
      - CI=true
    command: bash
    user: "root"
