services:
  dev:
    build: 
      context: .
      dockerfile: Dockerfile
    image: yutianchen/macslam:jul2025-v1
    container_name: dev-macslam
    gpus: all
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    volumes:
      - "${PROJ_DIR:-~/Documents/MAC-SLAM}:/home/devuser/workspace:rw"
      - "${DATA_DIR:-/media/yutianch/Data}:/media/yutianch/Data:rw"
    ports:
      - "9876:9876"  # Rerun
      - "9877:9877"  # 
      - "9090:9090"  # 
    command: bash
    tty: true
    stdin_open: true
    user: "root"

  github-action:
    build:
      context: .
      dockerfile: Dockerfile
    image: yutianchen/macslam:github-action
    container_name: github-action-macslam
    environment:
      - CI=true
    command: bash
    user: "root"

  pyright-check:
    build:
      context: .
      dockerfile: Dockerfile
    image: yutianchen/macslam:github-action
    container_name: pyright-macslam
    environment:
      - CI=true
    volumes:
      - "${PROJ_DIR:-~/Documents/MAC/MAC-SLAM}:/home/devuser/workspace:rw"
    working_dir: /home/devuser/workspace
    command: ["pyright"]
    user: "root"
