services:
  dev:
    build: 
      context: .
      dockerfile: Dockerfile
    image: yutianchen/macslam:aug2025-v2
    container_name: dev-macslam
    hostname: mac-dev-container
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    volumes:
      - "${PROJ_DIR:-/home/gihwan/mac-vo/MACSLAM-internal}:/home/devuser/workspace:rw"
      - "${DATA_DIR:-/home/gihwan/mac-vo/data}:/Data:rw"
    ports:
      - "9876:9876"  # Rerun
      - "9877:9877"  # 
      - "9090:9090"  # 
    command: bash
    tty: true
    stdin_open: true
    user: "root"
  
  github-action:
    build:
      context: .
      dockerfile: Dockerfile
    image: yutianchen/macslam:github-action
    container_name: github-action-macslam
    environment:
      - CI=true
    command: bash
    user: "root"

  pyright-check:
    build:
      context: .
      dockerfile: Dockerfile
    image: yutianchen/macslam:github-action
    container_name: pyright-macslam
    environment:
      - CI=true
    volumes:
      - "${PROJ_DIR:-~/Documents/MAC/MAC-SLAM}:/home/devuser/workspace:rw"
    working_dir: /home/devuser/workspace
    command: ["pyright"]
    user: "root"
  
  trt-dev:
    build: 
      context: .
      dockerfile: Dockerfile.trt-from-dev
      args:
        TRT_TAG: 25.03-py3
    image: gihwan/macslam-trt:3090Ti-local
    container_name: dev-macslam-trt
    hostname: mac-dev-trt-container
    runtime: nvidia
    volumes:
      - "${PROJ_DIR:-/home/gihwan/mac-vo/MACSLAM-internal}:/home/devuser/workspace:rw"
      - "${DATA_DIR:-/home/gihwan/mac-vo/data}:/Data:rw"
    command: bash
    tty: true
    stdin_open: true
    user: "root"
