services:
  dev:
    build: 
      context: .
      dockerfile: Dockerfile
      args:
        BASE_IMAGE: pytorch/pytorch:2.8.0-cuda12.8-cudnn9-devel
    
    image: yutianchen/macslam:nov2025-v2
    container_name: dev-macslam
    hostname: mac-dev-container
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - CI=false
    volumes:
      - "${PROJ_DIR:-/home/gihwan/mac-vo/MACSLAM-internal}:/home/devuser/workspace:rw"
      - "${DATA_DIR:-/home/gihwan/mac-vo/data}:/Data:rw"
    ports:
      - "9876:9876"  # Rerun
      - "9877:9877"  # 
      - "9090:9090"  # 
    command: bash
    tty: true
    stdin_open: true
    user: "root"
  
  github-action:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        BASE_IMAGE: pytorch/pytorch:2.8.0-cuda12.8-cudnn9-runtime
    
    image: yutianchen/macslam:github-action
    container_name: github-action-macslam
    environment:
      - CI=true
    command: bash
    user: "root"
  
  trt-dev:
    build: 
      context: .
      dockerfile: Dockerfile.trt-from-dev
      args:
        TRT_TAG: 25.03-py3
    image: yutianchen/macslam:nov2025-v2-trt
    container_name: dev-macslam-trt
    hostname: mac-dev-trt-container
    runtime: nvidia
    volumes:
      - "${PROJ_DIR:-/home/gihwan/mac-vo/MACSLAM-internal}:/home/devuser/workspace:rw"
      - "${DATA_DIR:-/home/gihwan/mac-vo/data}:/Data:rw"
    command: bash
    tty: true
    stdin_open: true
    user: "root"
