x-common-config: &common-config
  hostname: ${HOSTNAME:-macslam}-dev
  volumes:
    - ../../:/workspace
    - /dev:/dev
    - /tmp/argus_socket:/tmp/argus_socket
  working_dir: /workspace
  deploy:
    resources:
      reservations:
        devices:
          - driver: nvidia
            count: all
            capabilities: [gpu]
  stdin_open: true
  runtime: nvidia
  tty: true

  cap_add:
    - SYS_ADMIN
  privileged: true

  network_mode: host
  ipc: host
  ulimits:
    memlock:
      soft: -1
      hard: -1
    stack: 67108864

  environment:
    - NVIDIA_DRIVER_CAPABILITIES=all
    - NVIDIA_VISIBLE_DEVICES=all
    - PYTHONUNBUFFERED=1
    - ROS_DOMAIN_ID=${ROS_DOMAIN_ID:-47}
    - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp

services:
  ros-humble-cu128-dev:
    <<: *common-config
    profiles: ["amd64"]
    platform: linux/amd64
    image: macslam/mac-slam:ros-humble-cu128-amd64
    build:
      context: .
      dockerfile: Dockerfile.ros-humble
      args:
        BASE_IMAGE: "macslam/mac-slam:linux-cu128-amd64"

  ros-humble-cu126-dev:
    <<: *common-config
    profiles: ["amd64"]
    platform: linux/amd64
    image: macslam/mac-slam:ros-humble-cu126-amd64
    build:
      context: .
      dockerfile: Dockerfile.ros-humble
      args:
        BASE_IMAGE: "macslam/mac-slam:linux-cu126-amd64"

  ros-humble-cu130-dev:
    <<: *common-config
    profiles: ["amd64"]
    platform: linux/amd64
    image: macslam/mac-slam:ros-humble-cu130-amd64
    build:
      context: .
      dockerfile: Dockerfile.ros-humble
      args:
        BASE_IMAGE: "macslam/mac-slam:linux-cu130-amd64"

  ros-humble-jetson-thor-dev:
    <<: *common-config
    profiles: ["arm64"]
    platform: linux/arm64
    image: macslam/mac-slam:ros-humble-thor-arm64
    build:
      context: .
      dockerfile: Dockerfile.ros-humble
      args:
        BASE_IMAGE: "macslam/mac-slam:linux-cu130-thor-arm64"
    volumes:
      - ../../:/workspace
      - /dev:/dev
      - /tmp/argus_socket:/tmp/argus_socket
      - /opt/nvidia/nsight-systems/:/opt/nvidia/nsight-systems/
      - /opt/nvidia/nsight-compute/:/opt/nvidia/nsight-compute/

  ros-humble-jetson-orin-dev:
    <<: *common-config
    profiles: ["arm64"]
    platform: linux/arm64
    image: macslam/mac-slam:ros-humble-orin-arm64
    build:
      context: .
      dockerfile: Dockerfile.ros-humble
      args:
        BASE_IMAGE: "macslam/mac-slam:linux-cu126-orin-arm64"
    volumes:
      - ../../:/workspace
      - /dev:/dev
      - /tmp/argus_socket:/tmp/argus_socket      
      - /usr/lib/aarch64-linux-gnu/tegra:/usr/lib/aarch64-linux-gnu/tegra
      - /usr/lib/aarch64-linux-gnu/libjpeg.so.8:/usr/lib/aarch64-linux-gnu/libjpeg.so.8
      - /opt/nvidia/nsight-systems/:/opt/nvidia/nsight-systems/
      - /opt/nvidia/nsight-compute/:/opt/nvidia/nsight-compute/

  dev-unified-entry:
    <<: *common-config
    image: ${ROS_IMAGE}
    platform: ${DEV_PLATFORM}
    container_name: macslam-ros-humble-dev
    command: sleep infinity
